<nav id="sidebar" class="gradiant180">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Menu pa Admins</span>
        </button>
    </div>
    <div class="p-4">
        <h1>
            <p class="logo">Demon Slayer<span>Panel de Administración</span></p>
        </h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" ><span class="fa fa-home mr-3"></span>Inicio</a>
            </li>
            <li>
                <a [routerLink]="['/users']" routerLinkActive="router-link-active" ><span class="fa fa-user mr-3"></span>Usuarios</a>
            </li>
            <li>
                <a [routerLink]="['/forums']" routerLinkActive="router-link-active"><span class="fa fa-briefcase mr-3"></span>Categorías y Foros</a>
            </li>
            <li>
                <a [routerLink]="['/settings']" routerLinkActive="router-link-active"><span class="fa fa-cogs mr-3"></span>Ajustes y Configuraciones</a>
            </li>
            <li>
                <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" ><span class="fa fa-align-justify mr-3"></span>Regresar al Foro</a>
            </li>
        </ul>
        <div class="footer">
            <p>Copyright &copy; 2020. <a href="https://github.com/Schnitzel-Holstein" style="color:#38d0c8!important;">Schnitzel-Holstein</a></p>
        </div>
    </div>
</nav>